[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TrustworthyMLR"]
	path = TrustworthyMLR
	url = https://github.com/ali-hamza817/trustworthymlr
